 * {
    margin: 0;
    padding: 0;
    list-style: none;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #232323;
    color: #CDCDCD;
    
}
main {
     position: absolute;
     left: 0;
     top: 0;
     width: 100%;
     height: 100vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;

}

.menu {
    margin-left: 30px;
    margin-top: 30px;
}
.menu .menu-faketrigger {
    position: absolute;
    z-index: 1000;
    width: 35px;
    height: 35px;
    opacity: 0;
    cursor: pointer; /* Para aparecer a maozinha quando o cursor passar por cima dele*/

}

.menu .menu-lines {
    position: absolute;
    z-index: 999;
    width: 35px;
    height: 35px;
}

.menu .menu-lines span {
    display: block;
    width: 35px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #CDCDCD;
    border-radius: 3px;
    transition: all ease .2s;   /*Fazendo efeito de transição*/
    
}

/*Criando hambuger efeitos transição, tamnho, opacidade*/
.menu .menu-faketrigger:checked~.menu-lines span{
    background-color: #232323;   /*Mudando a cor do hamburger para perto*/
}

.menu .menu-faketrigger:checked ~ .menu-lines span:nth-child(1){  /*Rotação do ponteiro do hamburger*/
    transform-origin: 0% 0%;
    transform: rotate(45deg) scaleX(1.25);

}

.menu .menu-faketrigger:checked ~ .menu-lines span:nth-child(2){  /*Fazendo lista do meio do hamburger sumir*/
    opacity: 0;
}

.menu .menu-faketrigger:checked ~ .menu-lines span:nth-child(3){
    transform-origin: 0% 100%;
    transform: rotate(-45deg) scaleX(1.25);
}

/*Efeito para o menu abrir*/
.menu ul {
    position: absolute;
    z-index: 998;
    left: 0;
    top: 0;
    width: 300px;
    height: calc(100vh - 100px);
    padding-top: 100px;
    background-color: #EDEDED;
    margin-left: -300px;
    transition: all ease .2s;   /*Tranzendo menu do lado para fora*/
    
    
}


/*  Formatando texto menu */
.menu .menu-faketrigger:checked ~ ul{
    margin-left: 0;
}

.menu ul li {
    padding: 10px;
    
}
.menu ul li a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    transition: all ease .3s;
}

.menu ul li a:hover {
    color: #999;
}